<div class="container mt-5 p-3 bg-light">
  <div class="row text-center">
    <div class="col-12 col-lg-6 mb-2">
      <h1>RETIRAR EFECTIVO</h1>
    </div>
    <div class="col-12 col-lg-6 mb-3">
      <h2 class="m-0">Dinero disponible en cajero: $<%=@atm_money%></h2>
    </div>
  </div>
  <h2 class="text-center">Balance en la cuenta: $<%=current_user.balance%></h2>
  <%= render "form", transaction: @transaction %>
  <% flash.each do |name, msg| %>
    <% if !@no_money_balance %>
      <%= render 'transactions/modal_details' %>
    <% end %>
  <% end %>
</div>

<script>
  $("#detail_transaction_modal").modal('show')
</script>
