<% flash.each do |type, msg| %>
  <% if type == 'notice' %>
    <div class="alert alert-info" role="alert">
  <% else %>
    <div class="alert alert-warning" role="alert">
  <%end%>
    <%= msg %>
    </div>
<% end %>